/* DESKTOP FIRST

the css not wrapped in the media queries account for large screens

@media (max-width: 1200px) {

}
@media (max-width: 900px) {

}
@media (max-width: 600px) {

} */

/* MOBILE FIRST

the default css, not wrapped in media queries
is the css to make smaller screens look great

@media (min-width: 600px) {

}
@media (min-width: 900px) {

}
@media (min-width: 1200px) {

} */

:root {
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 750px;
}

.boxes {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .boxes {
    flex-direction: row;
  }
}
.box {
  padding: 1rem;
}

.box-a {
  background-color: antiquewhite;
}

.box-b {
  background-color: lightgrey;
  border: 0.25rem dashed black;
}

.box-c {
  background-color: beige
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  background-color: lightcoral;
  color: white;
}

a {
  color: inherit;
}

h1, h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-top: 0.5rem;
}

article p:nth-of-type(1) {
  color: green;
}

article p:nth-of-type(2) {
  color: blue;
  line-height: 1.5;
}